@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --color1: #135337;
    --color2:#9CCB9E;
    --color3: #30303F;
    --fondo: #F5F7F9;
    --border: #C9C6C6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--fondo);
}

.container{
    max-width: 1120px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 100%;
}

.banner{
    margin: 50px 0;
}

.title{
    font-size: 30px;
    font-weight: 500;
    color: var(--color1);
    margin-bottom: 30px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 50px;
}

.product-grid__item{
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.product-grid__imagen{
    text-align: center;
}

.product-grid__info{
    padding: 15px;
    text-align: center;
}

.product-grid__name{
    font-size: 16px;
    color: var(--color3);
    margin-bottom: 6px;
    font-weight: 400;
}

.product-grid__price{
    font-size: 16px;
    font-weight: 600;
    color: var(--color3);
}

.product-grid__btn{
    margin-top: 20px;
}

.btn-default,
.btn-border,
.btn-primary{
    width: 100%;
    height: 48px;
    line-height: 48px;
    outline: 0;
    display: inline-block;
    border-radius: 25px;
    cursor: pointer;
    padding: 0 20px;

    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.btn-default{
    background-color: var(--color2);
    color: var(--color1);
}

.btn-default:hover{
    background-color: var(--color1);
    color: #fff;
}


.btn-border{
    border: 2px solid var(--color1);
    color: var(--color1);
    background-color: transparent;
}

.btn-border:hover{
    background-color: var(--color2);
    border-color: var(--color2);
}

.btn-primary{
    background-color: var(--color1);
    color: #fff;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--fondo);
    width: 100%;
    max-width: 350px;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all .35s ease-in;

    z-index: 20000;
}

.modal::after{
    position: fixed;
    top: 0;
    right: 350px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;

    opacity: 0;
    content: '';
    pointer-events: none;
    transition: all .35s ease-in;
}

.modal.active{
    visibility: visible;
    opacity: 1;
    transform: none;
}

.modal.active::after{
    opacity: 1;
    pointer-events: auto;
}
.modal__container{
    height: 100%;
    padding: 30px;
    position: relative;
    z-index: 1000;
}

.modal__close{
    position: absolute;
    left: -50px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color2);
    color: var(--color1);
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.modal__info{
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}

.modal__header{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border);
}

.modal__header h2{
    font-size: 24px;
    color: var(--color1);
    font-weight: 600;
}

.modal__header h2 i{
    margin-right: 10px;
}

.modal__body{
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    flex-grow: 1;
}

.modal__item{
    display: flex;
    align-items: center;
}

.modal__item + .modal__item{
    margin-top: 20px;
}

.modal__thumb{
    width: 80px;
}

.modal__text-product{
    width: calc(100% - 80px);
    padding-left: 20px;
}

.modal__text-product p strong{
    color: var(--color1);
    margin-top: 6px;
}

.modal__footer{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid var(--border);
}

.modal__list-price ul li+li{
    margin-top: 10px;
}

.modal__list-price ul li strong{
    color: var(--color1);
}

.modal__total-cart{
    font-size: 20px;
    color: var(--color1);
    margin: 20px 0;
}

.modal__btns{
    padding-top: 30px;
    border-top: 1px solid var(--border);
}

.modal__btns a+a{
    margin-top: 15px;
}

@media (max-width: 820px){
    .product-grid{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width: 600px){
    .product-grid{
        grid-template-columns: 1fr;
    }
}